MOYSKLAD_TOKEN=
BITRIX_WEBHOOK_URL=
BITRIX_REST_URL=
BITRIX_ORDERS_URL=
BITRIX_ORDER_URL=
BITRIX_API_MAX_RETRIES=
BITRIX_LOGIN=
BITRIX_PASSWORD=
BITRIX_EXCHANGE_URL=
BITRIX_CATALOG_URL=
BITRIX_CATALOG_TOKEN=
